<app-navbar></app-navbar>
<div class="container-fluid">

  <div class="row d-flex justify-content-center">
    <div class="col-md-9 col-sm-12 offset">
        <h1 style="margin:2% 0px;">Classes</h1>

          <div class="card" id="accordion">
            <div class="card-container">
              
            <div class="course-info">
                <p class="h1">Comp 490</p>
                <p class="h6">MW 11:00am - 12:15pm</p>
                <p class="h6">Professor Fitzgerald</p>

            </div>
            <div class="transcripts text-center">
              <a href="#transContent" data-toggle="collapse">
                <img src="../../../assets/images/recentTranscript.svg" alt="recent transcripts">
                <p>Recent Transcripts</p>
              </a>
            </div>
            <div class="join-session text-center">
                <img src="../../../assets/images/join.svg" alt="join session">                
                <p>Join Session</p>
            </div>

          </div>

        </div>
        <div class="card">
          <div id="transContent" class="collapse" role="tabpanel" data-parent="#accordion">
            <ul class="recent-transcripts">
              <li>Transcript 1</li>
              <li>Transcript 2</li>
              <li>Transcript 3</li>
              <li>Transcript 4</li>
              <li>Transcript 5</li>
            </ul>         
          </div>
        </div>

    </div>
  </div>

</div>
