.card{
    background-color:rgba(198, 40, 40, 0.08);
    color:rgb(6, 40, 66);
}
.offset {
    margin-left: 5%;
}

.course-info {
    padding: 20px;
}

.card-container {
    position: relative;
    display: grid;
    grid-template-columns: 60% 20% 20%;
}

.transcripts img,
.join-session img {
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-top: 15px;
}

@media(max-width:768px) {
    .offset {
        margin-left: 0px;
    }
    p {
        font-size: .9em;
    }
}

.transcripts{
    border-right: 2px solid #e2c2c2;    
    border-left: 2px solid #e2c2c2; 

    &:hover{
        background-color:rgba(198, 40, 40, 0.22);
        
    }  

    a p{
        color:black;
    }
}

.card-collapse{
    background-color:rgba(198, 40, 40, 0.22);
}