<!-- This is a container that pulls it to the right and gives it its color -->
<!-- <div class="container-fluid"> -->

  <div class="container-sidebar">
    <ul class="list-group text-center">
      <li class="list-group-item logo">
        <img class="img-fluid" src="https://www.csun.edu/ua/2017logos/csunalone.png" alt="CSUN Logo">
      </li>
      <li class="list-group-item">
          <i media="(min-width: 1200px)" class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i><br />
          Classes
        </li>
        <li class="list-group-item">
          <i class="fa fa-file-text-o fa-5x" aria-hidden="true"></i><br />
          Transcripts
        </li>
        <li class="list-group-item">
          <i class="fa fa-cog fa-5x" aria-hidden="true"></i><br />
          Settings
        </li>
        <li class="list-group-item">
          <i class="fa fa-question fa-5x" aria-hidden="true"></i><br />
          Help
        </li>
      </ul>
    </div>
    
  <!-- </div> -->