.container-sidebar {
    position: fixed;
    background-color: #d00d2d;
    min-height: 100%;
    max-width: 120px;
    left:0;
    // display: block;
}

.list-group-item {
    background-color: #d00d2d;
}

.logo {
    background-color: #55565A; 
}