.layout-csun {
  width: 100vw;
  height: 56px;
}

header.header {
  float: left;
  border-right: black 2px solid;
  padding-right: 10px;
}

.wordmark-container {
  float: left;
  padding-left: 10px;
}

h2.wordmark {
  margin-top: 10px;
}
