.layout-csun {
  height: 56px;  
  margin-top:20px;
  margin-left:10px;
}

header.header {
  float: left;
  border-right: black 2px solid;
  padding-right: 10px;
 
}

.header img{
  width:160px;
  height:43px;
}

.wordmark-container {
  float: left;
  padding-left: 10px;
}

h2.wordmark {
  margin-top: 10px;
}

@media(max-width:700px){

  .wordmark{
    display:none;
  }
  
  header.header{
    border-right:none;
  }

  .header img{
    width:107px;
    height:30px;
    // margin-top:20px;
    // margin-left:10px;
  }
}