.course-info {
  padding: 20px;
}

.title {
  margin-top: 2%;
}

a > * {
  color: #212529;
}

.all-transcripts {
  list-style: none;
  padding-left: 10px;
  padding-top: 0px;
  li i:hover, a:hover {
    color: #4d5ec1;
  }
}

.card {
  margin-top: 2%;
  z-index: 2;
}

.transcript-card {
  top: -25px;
  z-index: 1;
}

.card.card-collapse.transcript-card {
  padding-top: 20px;
}

@media (max-width: 768px) {
  .offset {
    margin-left: 0px;
  }
  p {
    font-size: 0.9em;
  }
}
