.landing {

    // background: -webkit-linear-gradient(45deg,#262626 ,#e5e5e5 100%);
    background: -webkit-linear-gradient(45deg,#EB3349 ,#F45C43 100%);
    // background: -webkit-linear-gradient(45deg,#68d0ff,#453cf5 100%);
    height:100vh;
    .landing-text {
        margin-top:10%;
    }
   
}

.laptops {
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
        margin-top:15%;
        width:100%;
        height:100%;
    }
}

#features {
    padding-bottom: 5%;
}

.call {
    padding:15% 0px;
    
}
.section-description {
    color: #757575;
    margin-bottom: 3rem;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}
.icon-area {
    text-align: center;
    .circle-icon {
        display: inline-block;
        font-size: 35px;
        padding-bottom: 30px;
        i {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border: 2px solid #fff;
            border-radius: 50%;
            box-shadow: 0 8px 19px rgba(91,154,251,.41);
            width: 90px;
            height: 90px;
        }
    }
}

.social-btns {
    display: inline-block;
    width: 47px;
    height: 47px;
    padding: 0;
    border-radius: 50%;
    margin: 10px;
    &.btn-fb {
        background-color: #3b5998;
    }
    &.btn-tw {
        background-color: #55acee;
    }
    &.btn-gh {
        background-color: grey;
        
    }
    i {
        font-size: 1.25rem;
        line-height: 47px;
        text-align: center;
    }
}

.about {
      // background: -webkit-linear-gradient(45deg,#262626 ,#e5e5e5 100%);
    //   background: -webkit-linear-gradient(45deg,#EB3349 ,#F45C43 100%);
      background: -webkit-linear-gradient(45deg,#68d0ff,#453cf5 100%);
    padding:5% 0px;
}

footer {
    background: #303841;
    
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .container {
        max-width: 720px;
    }

    .laptops {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width:80%;
        
        img {
            margin: 0 5%;
            width:70%;
            height:70%;
        }
    }
    
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .container {
        max-width: 960px;
    }

    .laptops {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width:65%;
        
        img {
            margin: 0 5%;
            margin-top:5%;
            width:70%;
            height:70%;
        }
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .container {
        max-width: 1140px;
    }

    .laptops {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width:90%;
        
        img {
            margin: 0 5%;
            margin-top:5%;
            width:70%;
            height:70%;
        }
    }
 }

