.landing {
  // background: -webkit-linear-gradient(45deg,#262626 ,#e5e5e5 100%);
  background-image: url('../../../assets/images/csunov.jpg');
//  padding: 0px 0px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
  /* background: -webkit-linear-gradient(
   45deg,
  // #eb3349,
    #f45c43 100%
    */
   // background: -webkit-linear-gradient(45deg,#68d0ff,#453cf5 100%);
  .landing-text {
    margin-top: 10%;
  }
  .row-container {
    padding-top: 3rem;
    margin-top: 2rem;
  }
}
.laptops {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-top: 0;
  padding-top: 0;
  .screen1 p,
  .screen2 p {
    font-size: 0.7em;
    color: #000000;
  }
  .screen1,
  .screen2 {
    font-size: 0.8em;
    color: #000000;

  }
  .screen2 {
    top: 73%;
  }
  img {
    margin-top: 15%;
    width: 100%;
    height: 100%;
  }
}
#features {
  padding-bottom: 5%;
}
.page-footer {
  margin-top: 0;
}
.call {
  padding: 12% 0px;
  background-image: url('../../../assets/images/csunov.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
}
.section-description {
  color: #757575;
  margin-bottom: 3rem;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}
.icon-area {
  text-align: center;
  .circle-icon {
    display: inline-block;
    font-size: 35px;
    padding-bottom: 30px;
    i {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: 2px solid #fff;
      border-radius: 50%;
      box-shadow: 0 8px 19px rgba(91, 154, 251, 0.41);
      width: 90px;
      height: 90px;
    }
  }
}
.social-btns {
  display: inline-block;
  width: 47px;
  height: 47px;
  padding: 0;
  border-radius: 50%;
  margin: 10px;
  &.btn-fb {
    background-color: #3b5998;
  }
  &.btn-tw {
    background-color: #55acee;
  }
  &.btn-gh {
    background-color: grey;
  }
  i {
    font-size: 1.25rem;
    line-height: 47px;
    text-align: center;
  }
}
.about {
  background:#D32F2F !important;
  // background: -webkit-linear-gradient(45deg,#EB3349 ,#F45C43 100%);
  // background: -webkit-linear-gradient(45deg, #68d0ff, #453cf5 100%);
  padding: 5% 0px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .laptops {
    .screen1 p,
    .screen2 p {
      font-size: 0.8em;
      color: #000000;
    }
    .screen1 {
      font-size: 0.8em;
      color: #000000;
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .laptops {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    padding-top: 10%;
    position: relative;
    .screen1 p,
    .screen2 p {
      font-size: 0.8em;
      color: #000000;
    }
    .screen1,
    .screen2 {
      font-size: 0.8em;
      color: #000000;
    }
    .screen2 {
      left: 74%;
    }
    img {
      margin: 0 3%;
      width: 70%;
      height: 70%;
    }
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .laptops {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 65%;
    .screen1 p,
    .screen2 p {
      font-size: 1em;
      color: #000000;
    }
    .screen1,
    .screen2 {
      font-size: 0.8em;
      color: #000000;
    }
    .screen2 {
      font-size: 0.8em;
      color: #000000;
    }
    img {
      margin: 0 5%;
      margin-top: 5%;
      width: 70%;
      height: 70%;
    }
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .laptops {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1%;
    .screen1 p,
    .screen2 p {
      font-size: 1.1em;
      color: #000000;
    }
    .screen1,
    .screen2 {
      font-size: 0.8em;
      color: #000000;
    }
    .screen2 {
      font-size: 0.8em;
      color: #000000;
    }
    img {
      margin: 0 5%;
      margin-top: 5%;
      width: 70%;
      height: 70%;
    }
  }
}
