
<ul class="container student-list">
  <div class="row student-list-header">
    <h3 class="student-list-header-title">Students</h3>
  </div>
  <li class="row student-card">
    <div class="card card-body ">
      <h4 class="card-title">Mario Cordova</h4>
      <div class="flex-row">
        <a class="btn">Send Message</a>
      </div>
    </div>
  </li>
  <li class="row student-card">
    <div class="card card-body ">
      <h4 class="card-title">Rene Garcia</h4>
      <div class="flex-row">
        <a class="btn">Send Message</a>
      </div>
    </div>
  </li>
  <li class="row student-card">
    <div class="card card-body ">
      <h4 class="card-title">Christian Trinidad</h4>
      <div class="flex-row">
        <a class="btn">Send Message</a>
      </div>
    </div>
  </li>
  <li class="row student-card">
    <div class="card card-body ">
      <h4 class="card-title">Gabe Alabastro</h4>
      <div class="flex-row">
        <a class="btn">Send Message</a>
      </div>
    </div>
  </li>
</ul>
