/* You can add global styles to this file, and also import other style files */
@import "~quill/dist/quill.core.css";
html {
  overflow: auto;
}
body {
  // overflow-y: auto;
  background-color: rgba(232, 232, 232, 0.61);
  position: relative;
  min-height: 100vh;
}

